

<h1>Movie Details</h1>



<div>
      <table>
    
        <thead>
     <!--      <tr>


          </tr> -->
        </thead>


<ul class="lessons">
  <tbody>
  <% @entriesArray.each do |movie| %>
    <tr>
     
        <td>
          <%= image_tag(movie.image, :size => "500x500") %>
         
        </td>
        <td>
        <h4>Title</h4>
      <%= movie.link%>
       <h4>Duration</h4>
    <%=  movie.duration %>
    <h4>Actors</h4>
        <%=  movie.title %>
        <h4>Synopsis</h4>
        <%=  movie.synopsis %>
        </td>
    </tr>
  <% end %>

    <tbody>
</table>

</ul>
