

<h1>Movies Available</h1>




<ul class="lessons">
<table >
  <% @entriesArray.each_slice(7) do |movie| %>
    <tr>
      <% movie.each do |movie| %>
        <td>
          <%= image_tag(movie.image) %>
          <%= link_to movie.title , get_movies_path(:id => movie.link) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

</ul>
